<div class="container">
  <div class="row">
    <div>
      <h4 class="p-4 font-weight-bold">コメント一覧</h4>
    </div>
    <div class="offset-md-1 col-md-8 pt-4">
       <table>
        <% @item.comments.each do |comment| %>
          <tbody class="border-top border-bottom">
            <tr>
              <th>プロフィール画像</th>
              <td><%= image_tag comment.user.get_profile_image, size: "100x100" %></td><!--userモデルにメソッドを書く-->
            </tr>
            <tr>
              <th>ユーザー名</th>
              <td><%= comment.user.name %></td>
            </tr>
            <tr>
              <th>コメント</th>
              <td><%= comment.comment_content %></td>
            </tr>
            <tr>
              <td><%= link_to "コメントを削除", admin_item_comment_path(item_id: @item.id, id: comment.id) ,class: "btn btn-danger" ,method: :delete %></td>
            </tr>
        <% end %>
          </tbody>
       </table>
      </tr>
    </div>
  </div>
</div>