<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>About</h1>
      <p>漢のスキンケアは</p>
      <p>自分の気になっている商品を検索したり、使ってみての感想を投稿、</p>
      <p>他のユーザーの投稿している商品を閲覧できるコミュニティサイトです。</p>
    </div>
    <div class="col-12 text-center">
      <%= image_tag asset_path("bathroom-shelving-mirror.jpg"), size: '1000x450' %>
    </div>
  </div>
</div>

