<p class="text-center"><%= link_to "投稿一覧",admin_items_path, class: "btn btn-outline-success" %></p>
<p class="text-center"><%= link_to "ユーザー一覧",admin_users_path, class: "btn btn-success" %></p>
<p class="text-center"><%= link_to "カテゴリー一覧",admin_categories_path, class: "btn btn-primary" %></p>
