<% if item.bookmarked_by?(current_user) %>
  <%= link_to item_bookmarks_path(item), method: :delete, remote: true, class: "fas fa-bookmark" %></td>
<% else %>
  <%= link_to item_bookmarks_path(item), method: :post, remote: true, class: "far fa-bookmark" %></td>
<% end %>