<h4>投稿一覧</h4>
<div>
  <% @items.each do |item| %>
      <%= image_tag item.get_image %>
      <p><%= item.name %></p>
      <p><%= link_to item.user.name , user_path(item.user.id) %></p><!--違うかもしれん-->
  <% end %>
</div>